<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:sl="http://www.nlog-project.org/schemas/NLog.Targets.Syslog.xsd"
      autoReload="true"
      throwConfigExceptions="true"
      
      >


  <!-- logs/LeanD.log -->
  <!-- the targets to write to -->
  <targets>
    <!-- write logs to file  -->
    <target xsi:type="File" name="full"
            fileName="logs/log.log"
            ArchiveFileName="logs/${cached:${date:format=yyyy-MM-dd}}/log{#}.zip"

            layout="${longdate:universalTime=true} [${pad:padding=3:inner=${threadid}}] ${pad:padding=5:inner=${level:uppercase=true}} ${message} - [${event-properties:item=EventId_Id}] ${exception:format=toString,Data:maxInnerExceptionLevel=5} | ${ndlc:uppercase=true:separator= => } | [${callsite:fileName=true:methodName=true:cleanNamesOfAsyncContinuations=true:cleanNamesOfAnonymousDelegates=true:includeSourcePath=false}] [${logger:shortName=false}]"

            ArchiveNumbering="Date"
            ArchiveEvery="Day"
           
            AutoFlush="true"
            ArchiveDateFormat="yyyy-MM-dd_HH_mm_ss"
            ArchiveOldFileOnStartup="true"

            EnableArchiveFileCompression="true" 
            
            ConcurrentWrites="true"
            KeepFileOpen="false"

            />    
    

    <target xsi:type="ColoredConsole"
            name="console"
            layout="${longdate:universalTime=true} [${pad:padding=3:inner=${threadid}}] ${pad:padding=5:inner=${level:uppercase=true}} [${mdlc:item=IID}] - ${message} - [${event-properties:item=EventId_Id} ${event-properties:item=EventId_Name:uppercase=true}] ${exception:format=toString,Data:maxInnerExceptionLevel=5} | ${ndlc:uppercase=true:separator= => } | [${callsite:fileName=true:methodName=true:cleanNamesOfAsyncContinuations=true:cleanNamesOfAnonymousDelegates=true:includeSourcePath=false}] [${logger:shortName=false}]"
            />

    <target xsi:type="File" name="warn"
            fileName="logs/warnlog.log"
            ArchiveFileName="logs/${cached:${date:format=yyyy-MM-dd}}/warnlog{#}.zip"

            layout="${longdate:universalTime=true} [${pad:padding=3:inner=${threadid}}] ${pad:padding=5:inner=${level:uppercase=true}} ${message} - [${event-properties:item=EventId_Id}] ${exception:format=toString,Data:maxInnerExceptionLevel=5} | ${ndlc:uppercase=true:separator= => } | [${callsite:fileName=true:methodName=true:cleanNamesOfAsyncContinuations=true:cleanNamesOfAnonymousDelegates=true:includeSourcePath=false}] [${logger:shortName=false}]"

            ArchiveNumbering="Date"
            ArchiveEvery="Day"
           
            AutoFlush="true"
            ArchiveDateFormat="yyyy-MM-dd_HH_mm_ss"
            ArchiveOldFileOnStartup="true"

            EnableArchiveFileCompression="true" 
            
            ConcurrentWrites="true"
            KeepFileOpen="false"

    />   

    <target xsi:type="File" name="info"
            fileName="logs/infolog.log"
            ArchiveFileName="logs/${cached:${date:format=yyyy-MM-dd}}/infolog{#}.zip"

            layout="${longdate:universalTime=true} [${pad:padding=3:inner=${threadid}}] ${pad:padding=5:inner=${level:uppercase=true}} ${message} - [${event-properties:item=EventId_Id}] ${exception:format=toString,Data:maxInnerExceptionLevel=5} | ${ndlc:uppercase=true:separator= => } | [${callsite:fileName=true:methodName=true:cleanNamesOfAsyncContinuations=true:cleanNamesOfAnonymousDelegates=true:includeSourcePath=false}] [${logger:shortName=false}]"

            ArchiveNumbering="Date"
            ArchiveEvery="Day"
           
            AutoFlush="true"
            ArchiveDateFormat="yyyy-MM-dd_HH_mm_ss"
            ArchiveOldFileOnStartup="true"

            EnableArchiveFileCompression="true" 
            
            ConcurrentWrites="true"
            KeepFileOpen="false"

    />    



  </targets>

  <!-- rules to map from logger name to target -->
  <rules>

   
    <logger name="*" minlevel="Trace" writeTo="full" />
    <logger name="PH.LoggingExtensions.Test.FakeClass" minlevel="Warn" writeTo="warn" />
    <logger name="*" minlevel="Info" maxlevel="Info" writeTo="info" />
    <logger name="*" minlevel="Trace" writeTo="console" />


    
    


  </rules>
</nlog>